@import url(http://fonts.googleapis.com/css?family=Raleway:200);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:700italic,700,300,600);


h3{
	font-family: "Open Sans";
	font-weight: 600;
	line-height: 1.4em;
}

p, dl{
	line-height: 1.4em;
	font-family: "Open Sans";
	font-weight: 300;

	+ p, + ul{
		margin-top: 1.4em;
	}
}

li{
	line-height: 1.8em;
	font-family: "Open Sans";
	font-weight: 300;
	list-style: disc;
	margin-left: 3em;
	padding-left: .5em;
}
 
a{
	color: $blue;
}

.content-title, .page-title{
	font-family: "Raleway";
	text-transform: uppercase;
	font-size: 2.25em;
	margin-bottom: 1em;
}