.home{
	overflow: hidden;

	.slideshow{
		background: url('../assets/slider-bg.jpg') no-repeat center;
		background-size: cover;
		@include clearfix;
	
		.slideshow-texture{
			background: url('../assets/slider-texture-bg.png') no-repeat center;
			background-size: cover;
			@include clearfix;
		}
	
		.slideshow-content{
			background: rgba(125,5,5,.8);
			float: right;
			width: 36.677966101695%;
			margin: 150px 0;
			padding: 2em 2%;
			position: relative;
			color: #fff;
		}
	
		.slideshow-title{
			font-family: "Open Sans";
			font-weight: 600;
			margin-bottom: 1em;
			font-size: 1.4em;
		}
	
		.slideshow-progress{
			margin-top: -2.5em;
			text-align: center;
			margin-bottom: 1em;
	
			li{
				display: inline-block;
				text-indent: -9999em;
				background: url('../assets/slider-progress-sprite.png') no-repeat 0 0;
				height: 14px;
				width: 14px;
				margin: 0;
				padding: 0;
	
				&.active{
					background-position-x: -14px;
				}
			}
		}
	}
	
	.content{
		background: #f1f1f1 url('../assets/home-content-bg.png') no-repeat bottom left;
		border-bottom: 4px solid $red;
		background-size: cover;
		@include pie-clearfix;
	}
	
	.main-content{
		width: 49.322033898305%;
		float: left;
		padding: 2em 8% 2em 2%;
	
		.content-title{
			margin-top: 3.5%;
		}
	
		h2, h3, p{
			color: #153f60;
		}
	}
	
	.sidebar-content{
		width: 40.677966101695%;
		float: right;
	}
	
	.cutout-overlay{
	    margin-top: -5.5em;
	  	height: 56px;
	 	background: #f1f1f1;
	 	width: 300%;
	 	margin-left: -184%;
	
	
		.button{
			float: right;
		}
	}
	
	.events{
		background: $blue;
		padding: 5%;
		position: relative;
		color: #fff;
	
		.event-title{
			text-transform: uppercase;
		}
	
		.event{
			margin-bottom: 1em;
	
			.button{
				margin-top: 1em;
				position: relative;
				float: right;
				right: -5.5%;
			}
		}
	
		.more-events{
			margin-top: 6em;
	
			a{
				color: #fff;
				text-decoration: none;
			}

			li{
				list-style: none;
				padding: 0;
				margin: 0;
			}
	
			.event-title{
				margin-bottom: 1.5em;
			}
		}
	}
	
	.become-a-member{
		background: #1d2c5e;
		padding: 5% 5% 0;
		color: #fff;
		@include clearfix;
	
	
			.button{
				margin-top: 1em;
				position: relative;
				float: right;
				right: -5.5%;
			}
	}
	
	.sponsors{
		padding: 3em 0;
		@include clearfix;
		border-bottom: 4px solid $red;
	
		.wrapper{
			position: relative;
		}
	
		.button{
			position: absolute;
			top: 0;
			right: 0;
			margin-top: -1em;
		}
	
		.logos{
			padding-top: 1em;
	
			li{
				float: left;
				width: 22%;
				list-style: none;
				padding: 0;
				margin: 2em 1.5%;

				img{ width: 100%;}
			}
		}
	
	}
	
	.president{
		padding: 3em 0;
		background: #f1f1f1;
		border-bottom: 4px solid $red;
		@include clearfix;
	
		.president-content{
			float: right;
			width: 85%;
		}
	
		img{
			float: left;
			width: 12%;
			margin-right: 3%;
		}
	
	}

	@media screen and (max-width: 860px) {

		.slideshow{
			background: #fff;

			.slideshow-content{
				float: none;
  				position: static;
  				width: 110%;
  				margin: 0 0 0 -5%;
  				padding: 4em 2em;
  				box-sizing: border-box;
  				background: $red;
			}

			.slideshow-progress{
				display: none;
			}
		}

		.sidebar-content, .main-content{
			float: none;
			width: 100%;
		}

		.cutout-overlay{
			margin: 0 0 2em;
			width: 100%;
			height: auto;
			text-align: right;

			.button{ float: none; }
		}

		.president{
			img{
				width: 22%;
			}

			.president-content{
				width: 75%;
			}
		}
	

}

@media screen and (max-width: 600px){

	.sponsors{
		.button{
			position: static;
			margin-top: 1em;
			float: right;
		}
	}

}

@media screen and (max-width: 400px){
	.president{
		img{
			width: 80%;
			margin: 0 auto 1em;
			float: none;
			display: block;
		}

		.president-content{
			width: 100%;
			text-align: center;

		}
	}

	.content-title{
		text-align: center;
		font-size: 1.75em;
	}
}

}//.home	


