.page{
	background: #e6e7e8;

	.row{
		@include pie-clearfix;
		clear: both;
		
		.columns{
			clear: both;
			@include pie-clearfix;

			.column{
				float: left;

				.wp-caption, img{
					width: 100%!important;
					height: auto;
				}
			}

			&.full-width .column{ float: none; }

			&.half .first-column{ width: 48%; margin-right: 2%; }
			&.one-quarter .first-column{ width: 23%; margin-right: 2%; }
			&.three-quarter .first-column{ width: 73%; margin-right: 2%; }
			&.quarters .column{ width: 23%; margin-right: 2%; }
			
		}
	}

	

	@media screen and (max-width: 1400px){

		.row{

			.columns{

				&.quarters .column{ width: 48%; }

				&.quarters .column:nth-child(2n+1){
					clear: left;
				}
			}
		}

	}

	@media screen and (max-width: 800px){

		.row{

			.columns{

				&.quarters .column{ width: 100%; float: none; }

			}

			

		}

	}

}